* {
    font-family: 'Nunito';
}
body {
    background-color: #fff;
}

/* navbar */
img.img-navbar-logo {
    width: 40px;
    height: 40px;
}

/* section judul */
section#judul {
    background-color: #eff6ff;
    min-height: 300px;
}
#judul h2 {
    font-weight: 700;
}


/* mobile mode */
@media (max-width: 576px) {
    section#judul {
        min-height: 200px;
    }
}